<section id="home" class="d-flex align-items-center">

  <div class="container">
      <div class="row">
          <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1">
              <h1>yyyy...nero We think about Transport, so you don’t have to.</h1>
              <h2>If you need to get anywhere, you need TransEasier
              </h2>
          </div>

          <div class="col-lg-6 order-1 order-lg-2 hero-img">
            <div class="center">
              <div class="swing">
              <img src="../../../assets/bglp.jpg" class="img-log" width="600px"/>
            </div>
            </div>
          </div>
      </div>
  </div>
</section>
<section class="features">
  <h2 class="title ">Features</h2>
  <div class="row row-cols-1 row-cols-md-3 g-4 features-container ">
      <div class="col ">
          <div class="card">
              <img src="https://image.flaticon.com/icons/png/512/4298/4298144.png" class="card-img-top" alt="... ">
              <div class="card-body ">
                  <h5 class="card-title ">GPS Tracking</h5>
                  <p class="card-text ">Using the GPS tracking function in TransEasier, passengers can see arrival updates in real-time, directly from the maps.</p>
              </div>
          </div>
      </div>
      <div class="col ">
          <div class="card">
              <img src="https://image.flaticon.com/icons/png/512/1042/1042261.png " class="card-img-top" alt="... ">
              <div class="card-body ">
                  <h5 class="card-title ">Public Transport Schedules</h5>
                  <p class="card-text ">Users can easily access to the public means of transport Schedules: departure and arrival, through the platform and Mobile App.
                  </p>
              </div>
          </div>
      </div>
      <div class="col ">
          <div class="card">
              <img src="https://image.flaticon.com/icons/png/512/4693/4693395.png" class="card-img-top" alt="... ">
              <div class="card-body ">
                  <h5 class="card-title ">A set of Panels</h5>
                  <p class="card-text ">TransEasier will provide a set of panels in each station connected to the platform and mobile App indicating Temperature, Humidity and Traffic Condition.
                  </p>
              </div>
          </div>
      </div>
      <div class="col ">
          <div class="card">
              <img src="https://image.flaticon.com/icons/png/512/854/854878.png" class="card-img-top" alt="... ">
              <div class="card-body ">
                  <h5 class="card-title ">Maps</h5>
                  <p class="card-text ">Users can easily access to a map service that helps to find the shortest way to his destination and Real-time Location of the Train, Bus, TGM.</p>
              </div>
          </div>
      </div>
      <div class="col ">
          <div class="card">
              <img src="https://image.flaticon.com/icons/png/512/1182/1182718.png" class="card-img-top" alt="... ">
              <div class="card-body ">
                  <h5 class="card-title ">Fi Thnitk</h5>
                  <p class="card-text ">We offer ridematching service with interested commuters in your area that share similar work locations and hours. 

                  </p>
              </div>
          </div>
      </div>
      <div class="col ">
          <div class="card">
              <img src="https://image.flaticon.com/icons/png/512/3249/3249026.png" class="card-img-top" alt="... ">
              <div class="card-body ">
                  <h5 class="card-title ">Parkini</h5>
                  <p class="card-text ">Are you tired of searching for the right place to park your car? Thanks to our servive you can pay online and enjoy your day! 
                  </p>
              </div>
          </div>
      </div>
  </div>
</section>
